*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: rebeccapurple;
  color: white;
}
.main-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}